@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Open+Sans:wght@300&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --primary: rgb(194, 154, 63);
  --light-yelllow: rgb(239, 241, 177);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-yelllow);
}

h1 {
  margin-bottom: 3rem;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-family: "Kanit", sans-serif;
}

input {
  position: relative;
  padding: 1rem;
  width: 70%;
  z-index: 1;
}

.text {
  position: relative;
  font-weight: bold;
  margin: 5%;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  /* font-size: 2rem; */
}

.icon {
  filter: blur(1.5px);
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 0;
}

.happy {
  top: 6%;
  left: 8%;
}

.sad {
  top: 12%;
  right: 20%;
}

.scared {
  top: 420px;
  left: 20px;
  transform: rotate(-30deg);
}

.shocked {
  top: 440px;
  right: 20px;
  transform: rotate(30deg);
}

.wink {
  top: 520px;
  left: 60px;
  transform: rotate(310deg);
}

.surprised {
  top: 510px;
  right: 80px;
  transform: rotate(180deg);
}

.thinking {
  top: 600px;
  left: 30px;
  transform: rotate(30deg);
}

.smile {
  top: 600px;
  right: 20px;
}

.meaning {
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: bold;
}

@media only screen and (min-width: 900px) {
  .text {
    font-size: 3rem;
  }

  .meaning {
    font-size: 2rem;
  }

  h1 {
    font-size: 4rem;
  }
  .icon {
    width: 6rem;
    height: 6rem;
    padding: 2rem;
  }

  .wink {
    top: 620px;
    left: 300px;
  }

  .surprised {
    top: 600px;
    right: 400px;
  }
}
